html, body, table th, table td {
  font-family: Verdana, sans-serif;
  font-size: 10pt;
  color: #191919;
  line-height: 1.7em;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 170%;
  margin-bottom: .5em;
  padding-bottom: .35em;
  border-bottom: 1px solid #BFC4CF;
}

h2 {
  font-size: 160%;
}

h3 {
  font-size: 140%;
  font-weight: bold;
  color: #505050;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 130%;
}

h6 {
  font-size: 120%;
}

/* links */

a:link {
  color: #0957c5;
  text-decoration: none;
}

a:visited {
  color: #618cc7;
  text-decoration: none;
}

a:hover {
  color: #1272d1;
  border-bottom: 1px solid #5294c1;
}

a:active, a.active {
  color: #778899;
}

/* some more items */

img, a img {
  border: none;
}

hr
{
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

div.preview 
{
	display: inline;
	float: right;
    width: 218px;
    height: 186px;
    margin-left: 12pt;
}

code.cs
{
	display: inline;
	padding: 0;
	margin: 0;
	border: none;
	font-family: Consolas, Monospace;
    font-size: 10pt;
}

div.cs
{
	display: block;
	padding: 0.5em;
	margin: 0.5em;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
	line-height: 1.3;
}
